<% if @prices.empty? %>
<p>No products yet.</a></p>
<% end %>
<div class="grid grid-cols-3 mt-12">
  <% @prices.each do |price| %>
  <div>
    <div>
      <!-- <img src="<%= price.product.images.try(:first) %>" alt="<%= price.product.description %>"> -->
    </div>
    <div>
      <h3 class="text-xl"><%= price.product.name %></h3>
      <p><%= price.product.description %></p>
    </div>
    <div>
      <p><%= number_to_currency(price.unit_amount/100, precision: 0) %></p>
    </div>
    <div class="mt-4">
      <a href="/subscriptions/new?price=<%= price.id %>" class="mt-4 line-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        Subscribe to <%= price.product.name %>
      </a>
    </div>
    </form>
  </div>
  <% end %>
</div>
